@charset "UTF-8";
@import "./reset.css";

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  background-color: #14161D;
}

header {
  margin: 1rem;
  border-radius: 10px;
  background-color: #1F2229;
  padding: 1rem;
  align-items: center;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h1 {
  color: #3FA1FF;
}
header a {
  color: white;
  text-decoration:  none;
  text-align: center;
  font-size: 18px;
}
.header-middle {
  display: flex;
  gap: 20px;

}
header img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.input-field {
  width: 550px;
  padding: 1rem;
  background-color: #1F2229;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

.input-textarea {
  width: 100%;
}

.input-field textarea{
  width: 100%;
  height: 100%;
  background: none;
  padding: 1rem;
  resize: none;
  color: white;
}

.input-buttons {
  display: flex;
  justify-content:  space-between;
  align-items: center;
  width: 100%;
  
  margin-top: auto;
}
#post {
  width: 65px;
  height: 35px;
  color: white;
  background-color: #3FA1FF;
  text-align: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
#post:hover {
  transform: scale(1.02);
  background-color: #2993FF;
}

#media-icon {
  width: 50px;
  height: 50px;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

#media-icon:hover {
  transform: scale(1.10);
}

.media-input-detail {
  display: flex;
  align-items: center;
}

.user-info {
  width: 200px;
  background-color: #1F2229;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  position: absolute;
  right: 1rem;
}

.hidden {
  display: none;
}

.info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-body {
  display: block;
}

.info-body p {
  margin-bottom: 1rem;
}

#user-info-icon {
  width: 40px;
  height: 40px;
}
#cancel-dropdown {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background:none;
  color: white;
  transition: ease-in-out 0.5s;
}

#cancel-dropdown:hover {
  transform: scale(1.05);
}

.post-container {
  background-color: #F4F4F6;
  width:550px;
  padding: 1rem;
  border-radius: 5px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header-info {
  display: flex;
  align-items: center;
}

.post-image {
  border-radius: 5px;
}
.post-text {
  font-size: 15px;
  margin: 5px 0 1rem 0;
}


@media (max-width: 600px) {
  .header-flex {
    flex-direction: column;
    gap: 1rem;
  }
  .header-middle {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  header a {
    font-size: 16px;
  }
  header img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .header-flex {
    justify-content: space-between;
  }
  .header-middle {
    gap: 15px;
  }
  header a {
    font-size: 17px;
  }
  header img {
    width: 60px;
    height: 60px;
  }
}
